body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;

}

@font-face {
  font-family: 'Powerpuff';
  src: url('fontes/powerpuff.ttf') format('truetype');
}


